/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/nbproject/private/